.breadcrumb{
	height: 35px;
	background-color: white;	
	width: 100%;
	max-width: 100%;
	padding: 0px 0px ;
	margin-bottom: 10px;

}
.breadcrumb-macroeconomico{
	background-color: #024e9b;
}

.breadcrumb-regional{
	background-color: #7AA623;
}

.breadcrumb-social{
	background-color: #990303;
}

.breadcrumb li>a{
	color: white;	
}


.panel-default>.panel-heading{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   text-decoration: none;
}



.e-grid .e-toolbar.e-toolbarspan{
	max-width: 20%;
	margin-top: -45px;
	right: 16px;
}

.e-grid{
	margin-top: 50px
}

.imageminicial{
	position: relative;
	left: 25%;
}

.tabs{
	overflow-y: auto;
	overflow-x: hide;

}

      .leaflet-container {
        height: 400px;
        width: 80%;
        margin: 0 auto;
      }