.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* padding-bottom: -30px; */
  /* Set the fixed height of the footer here */
  height: 30px;
  max-height: 30px;
  line-height: 30px; /* Vertically center the text there */
  background-color: #00396c;
  text-align: center;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer .container > a{
	color: white;
	margin-left: 10px;
} 

.footer .container > *{
	color: white;
	margin-left: 10px;
} 